@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Saira Stencil One', cursive; */
}

body {
  background-image: linear-gradient(to left bottom, #458fff, #3470e4, #2652c7, #1b34aa, #12128c);
  background-size: 100% 300%;
  font-family: 'Raleway', sans-serif;
}
