@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Saira Stencil One', cursive; */
}

body {
  background-image: linear-gradient(0deg,#0734bb,#0e2c4e,#0734bb,#0e2c4e);
  background-size: 400% 400%;
  font-family: 'Raleway', sans-serif;
  -webkit-animation: BackgroundAnimation 25s linear infinite;
  -moz-animation: BackgroundAnimation 25s linear infinite;
  -o-animation: BackgroundAnimation 25s linear infinite;
  animation: BackgroundAnimation 25s linear infinite;
}

@keyframes BackgroundAnimation {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}
